/* CATALOGUE */

.catalogue-section h2 {
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    position: relative;
}

.catalogue-section h2 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 10px;
}

.catalogue-section h2 .bold-order {
    font-weight: 800;
    position: relative;
}

.catalogue-section h2 .bold-order::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    padding-bottom: 5px;
    width: 100%;
    height: 5px;
    background: #9B0C26;
    z-index: 1;
}
